img{
    width: 30%;
    height: 30%;
    display: block;
    margin: 20px auto;
}

.clase{
    background: orange;
}

h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
h2{
    font: bold 14px Verdana
}
header, section, footer, aside, nav, article{
    display: block;
}
aside:hover{background-color:black;}
a{text-decoration: none;}
body{
    text-align: center;
}
.agrupar{
    width: 960px;
    margin: 25px auto; 
    background: grey;
    padding: 40px;
    border: 2px solid purple;
}
.cabezera{
    background: #741a1a;
    color: white; 
    border: 1px solid black;
}
.cabezera h1{
    text-align: left;
    padding: 5px 20px;
}
.navegacion{
    background: goldenrod ;
    padding: 5px 15px;
    text-align: left;
}
.navegacion li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}
.seccion{
    margin: 20px;
    width: 60%;
    float: left;
}
.columna{
    margin: 20px 0px;
    width: 35%;
    border: 1px solid white;
    float: right;
}
.columna blockquote{
    border: 1px solid black;
    padding: 20px;
    background: orange;
}
.pie{
    clear: both;
    padding: 20px;
    background: violet;
}
article{
    background: plum;
    border: 1px solid palegreen;
    padding: 20px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
    margin-top: 20px;
}
time{
    color: beige;
}
